name: "ollama-open-webui"

services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    pull_policy: always
    tty: true
    restart: unless-stopped
    ports:
      - 11434:11434
    volumes:
      - ollama:/root/.ollama
      - ./ollama_entrypoint.sh:/entrypoint.sh
    environment:
      - "OLLAMA_MAX_LOADED_MODELS=4"
      - "OLLAMA_NUM_PARALLEL=4"
      - "OLLAMA_KEEP_ALIVE=-1"
    entrypoint: ["/entrypoint.sh"]

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    volumes:
      - open-webui:/app/backend/data
    depends_on:
      - ollama
    ports:
      - 3008:8080
    environment:
      - "OLLAMA_BASE_URL=http://ollama:11434"
      - "WEBUI_URL=https://ollamaui.iwebx.com.au"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ollamaui-webui.rule=Host(`ollamaui.iwebx.com.au`)"
      - "traefik.http.routers.ollamaui-webui.entrypoints=websecure"
      - "traefik.http.routers.ollamaui-webui.tls.certresolver=letsencrypt"
      - "traefik.http.services.ollamaui-webui.loadbalancer.server.port=8080"
    networks:
      - default
      - dokploy-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

volumes:
  ollama:
  open-webui:

networks:
  dokploy-network:
    external: true
